$orange: #FF7D1A;
$opacityOrange: #FFAC6A;
$paleOrange: #FFEDE0;
$veryDarkBlue: #1D2025;
$grayishBlue: #68707D;
$lightGrayishBlue: #F7F8FD;
$white: #FFFFFF;
$black: #000000;
$opacityBlack: rgba(0, 0, 0, 0.75);
$mainTransition: 300ms;